@import "reset.css";
@import "variaveis.css";
 
body{
  background-color: var(--color-bg-darkest);
}

/* estilo dos placeholders */
::placeholder {
  color: #b3b3b3;
}

/* remove a linha dos links */
a {
  text-decoration: none;
}
 
/* esconde as ancoras da tela */
a.links {
  display: none;
}

/* define do container do cadastro */
.container {
  width: 400px;
  min-height: 560px;    
  margin: 0px auto;
  position: relative;   
}

/* estilo do box do cadastro */
#cadastro {
  position: absolute;
  top: 50px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: rgba(9, 51, 102, .4);
  border: .5px solid #167bf7;
  border-radius: 5px;
  }


/* linha de cabeçaho */
#cadastro h1 {
  font-size: 48px;
  color: var(--color-title);
  padding: 2px 0 10px 0;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

#cadastro p {
  margin-bottom:10px;
}

#cadastro label {
  color: var(--fiap-primary);
  display: block;
}

/* inputs do cadastro */
#cadastro input {
  width: 100%;
}

/*estilo do botão submit */
#submit {
  width: 100%!important;
  cursor: pointer;  
  background: var(--fiap-primary);
  padding: 8px 5px;
  color: var(--color-bg-darkhome);
  font-size: 20px;
  border: 1px solid #fff;   
  margin: 20px 0 10px 0;  
  border-radius: 20px;
  transition: all 0.2s linear;
}
 
/* estilo do botão submit no hover */
#submit:hover {
  background: var(--color-primary);
}

/* estilo da faixa para quem já tem conta */
#cadastro .ja-registrado{
  position: absolute;
  background: #e1eaeb;
  /* color: var(--teals-3); */
  left: 0px;
  height: 20px;
  width: 350px;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: center;
  line-height: 0;
  border-top: 1px solid #dbe5e8;
  border-radius: 0 0  5px 5px;
}
 
/* link para o login */
#cadastro .ja-registrado a {
  font-weight: bold;
  background: #f7f8f1;
  padding: 6px;
  color: var(--color-primary);
  margin-left: 10px;
  border: 1px solid var(--fiap-primary);
  border-radius: 4px;  
  transition: all 0.4s  linear;
}
 
/* estilo do link para o login no hover */
#cadastro .ja-registrado a:hover {
  color: var(--color-bg-darkhome);
  background: #f7f7f7;
  border: 1px solid var(--color-primary);
}

