  /* Definição da paleta de cores */
  /* https://color.adobe.com/pt/Teals-color-theme-19171364 */
  :root {
    --teals-1: #0FC2C0;
    --teals-2: #0CABA8;
    --teals-3: #008F8C;
    --teals-4: #015958;
    --teals-5: #023535;
  }