:root {
    --color-primary: #2BDEFD;
    --color-title: #D7F9FF;
    --color-text: #98D4DE;
    --color-bg-darkhome: #01080E;
    --btn-color-bg: #2BFDBE;
    --color-text: #01080E;
    --fiap-primary: #E81B5C;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
}

body{
    background-color: #01080E;
    background-image: url(./homepage.assets/img/pagina-inicial-base.webp);
    background-repeat: no-repeat;
    background-position: right;
}
   
.container{
display: flex;
margin: 0px 75.4px;
padding: 35px 0px;
cursor: pointer;
}

.container #txtBusca{
    gap: 10px;
    width: 35%;
    padding: 0 1rem;
    border: solid 1px #0D6271;
    background-color:#01080E;

}

.search{
    display: flex;
    width: 100%;
    color: #01080E;
    height: 35px;
    margin-left: 25px;
    cursor: none;

}

.btn-login {
    display: flex;
}

.btn-login a  {
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    padding: 0px 30px;
    display: flex;
    text-decoration: none;
    
}

.matricule-se{
    margin: 0;
    font-size: 13px;
    width: 180px;
    height: 45px;
    background-color: #2BFDBE;
    border: none;
    }

h1{
    margin: 0px 74.5px;
    font-size: 64px;
    color: #fff;    
}

span{
    color: #2BDEFD;
}

p{
    color: #fff;
    font-size: 16px;
    padding-left: 80px;
}

.btn-veja-planos{
    width: 40%;
    padding: 14px;
    margin-left: 33px;
    color: black;
    }